{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <h1 class="mb-4">Contact Us</h1>

    <form>

        <div class="mb-3">
            <input class="form-control"
                   placeholder="Name">
        </div>

        <div class="mb-3">
            <input class="form-control"
                   placeholder="Email">
        </div>

        <div class="mb-3">
            <textarea class="form-control"
                      rows="5"
                      placeholder="Message"></textarea>
        </div>

        <button class="btn btn-success">
            Send Message
        </button>

    </form>

</div>

{% endblock %}